body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

.container {
    text-align: center;
    flex-grow: 1;
}

.timer-setup {
    margin-bottom: 20px;
}

.timer {
    margin: 10px 0;
}

.timer-circle {
    width: 100px;
    height: 100px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.timer-circle .progress {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0px, 100px, 100px, 50px);
    position: absolute;
    top: 0;
    left: 0;
}

.timer-circle .progress .fill {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #76c7c0;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sidebar {
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
}

#active-timers {
    list-style: none;
    padding: 0;
}

#active-timers li {
    margin-bottom: 10px;
}
